
.navbar{
    position: fixed;
    width:100%;
    z-index: 5;
    
}
.navbar-brand{
    font-size: 30px;
    transition: all 1s;
}
.Pbar{
    position:fixed;
    width:100%;
    background-color:black;
    height:2px;
    z-index: 10;
    margin-top:52px;
    display:none;
}
.hidden{
    display:none;
}