.alert-box{
    background-color: skyblue;
    padding:20px;
    color:white;
    border-radius: 5px;
    display:block;
}
.list-group{
   display:none; 
}
.show{
    display:block;
}
.black-bg {
    width : 100%;
    position : fixed;
    background : rgba(0,0,0,0.5);
    z-index : 5;
    padding: 30px;
    visibility: hidden;
    opacity:0;
    top:0;
    left:0;
    transition: all 1s;
    overflow:hidden;
    height:0px;
  }
  .white-bg {
    background: white;
    border-radius: 5px;
    padding: 30px;
  }
  .show-model{
    visibility: visible;
    opacity:1;
    height:100%;
  } 